<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login page</title>
    <style>
div {

  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;

}
</style>
</head>
<body>

<form method="POST">
    {% csrf_token %}
<div align="center">

<lable>username</lable> &nbsp;&nbsp;
<input id="username" name="username" >
<br><br>
<label>password</label>&nbsp;&nbsp;
<input name="password" id="password" type="password" >
<br><br>
<button type="button" href="/">login</button>
&nbsp;&nbsp;
    <button type="button" ><a href=" http://127.0.0.1:8000/signup/">sign up</a></button>

</div>
</form>

</body>
</html>